@using osu.golf.handicap.Models

@{
    ViewBag.Title = "Black";
}

<style>
    h2{
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        background-color: black;
    }
</style>

@using (Html.BeginForm("BlackResult", "Men")){
    <div>
        <h2>Men's Black Course</h2>
        <span>@Html.Label("Enter first score") : @Html.TextBox("score1")</span>
        <br>
        <span>@Html.Label("Enter second score") : @Html.TextBox("score2")</span>
        <br>
        <span>@Html.Label("Enter third score") : @Html.TextBox("score3")</span>
        <br>
        <span>@Html.Label("Enter fourth score") : @Html.TextBox("score4")</span>
        <br>
        <span>@Html.Label("Enter fifth score") : @Html.TextBox("score5")</span>
    </div>
        <input type="submit" name="Calculate" value="Calculate"/>
}